<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Penjualan</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#" onclick="changeContent('home')">Home</a></li>
                    <li class="breadcrumb-item">Transaksi</li>
                    <li class="breadcrumb-item active">Kasir</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-outline card-success">
                    <div class="card-header">
                        <h3 class="card-title" id="cashierName">Kasir : </h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="text-center">Grand Total :
                                    <span id="cashierGrandTotal" class="text-primary"></span>
                                </h1>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="text" class="form-control" id="barcodeText" name="barcodeText"
                                                   placeholder="Scan barcode disini" minlength="13" maxlength="13"
                                                   onkeypress="return onlyNumberKey(event)"
                                                   onkeydown="barcodeTextKeyDown(this)" required>
                                        </div>
                                        <div class="input-group-append">
                                            <button class="input-group-text btn btn-info btn-block"
                                                    onclick="addCacheData()"><i
                                                    class="fas fa-plus"></i> Tambah
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-info btn-block" style="float: right" onclick="processCashierSales()">
                                    <i class="fas fa-save"></i> Proses penjualan
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="cashierList" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th style="display: none">CommodityId</th>
                                <th class="text-center">Commodity</th>
                                <th style="display: none">Amount</th>
                                <th class="text-center">Jumlah</th>
                                <th style="display: none">Price</th>
                                <th class="text-center">Harga</th>
                                <th class="text-center">Total</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="cashierEdit">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-lightblue">
                    <h4 class="modal-title" id="cashierEditTitle">Modal Title</h4>
                </div>
                <div class="modal-body bg-gradient-blue">
                    <form id="formCashierEdit">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="commodityName" class="col-sm-2 col-form-label">Commodity</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="commodityId" name="commodityId"
                                                   hidden>
                                            <input type="text" class="form-control" id="commodityName"
                                                   name="commodityName">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="amount" class="col-sm-2 col-form-label">Jumlah</label>
                                        <div class="col-sm-10">
                                            <input type="number" step="1" min="1" class="form-control" id="amount"
                                                   name="amount" onkeypress="return onlyNumberKey(event)" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-success" onclick="submitEditCashierCache()">Simpan
                            </button>
                            <button type="button" class="btn btn-warning" onclick="backCashierEdit()">Batal</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="saveCashierSalesModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-lightblue">
                    <h4 class="modal-title" id="saveCashierSalesModalTitle">Modal Title</h4>
                </div>
                <div class="modal-body bg-gradient-blue">
                    <form id="formCashierSave">
                        <div class="card-body">
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label for="grandTotalAfterDiscount" class="col-sm-5 col-form-label">Total bayar</label>
                                            <div class="col-sm-7">
                                                <input type="text" id="grandTotalBeforeDiscount" name="grandTotalBeforeDiscount" hidden>
                                                <h3 id="grandTotalAfterDiscount"></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label for="cashierPersonalDiscount" class="col-sm-5 col-form-label">Rupiah
                                                diskon</label>
                                            <div class="col-sm-7">
                                                <input type="number" value="0" step="0.01" min="0" class="form-control"
                                                       id="cashierPersonalDiscount" name="cashierPersonalDiscount"
                                                       onkeypress="return onlyNumberKey(event)"
                                                       onkeyup="calculateGrandTotalAfterDiscountChange()"
                                                       onchange="calculateGrandTotalAfterDiscountChange()" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="button" class="btn btn-success" onclick="saveCashierSales()">Simpan</button>
                                <button type="button" class="btn btn-warning" onclick="cancelSalesProcessing()">Batal</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>