<html xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
    <head>
        <title>Kasir</title>
        <link rel="stylesheet" href="/webjars/AdminLTE/3.2.0/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="/webjars/AdminLTE/3.2.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
        <link rel="stylesheet" href="/webjars/AdminLTE/3.2.0/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    </head>
    <body>
        <div layout:fragment="content">
            <x id="securityHolderRole" th:text="${userRole}" hidden></x>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h4 class="m-0">Kasir</h4>
                                    </div>
                                    <div class="col-sm-6 text-right">
                                        <a href="/">Home</a>/Transaksi/Kasir
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12"><h1 class="text-center">Grand Total : <x id="grandTotal" class="text-warning"></x></h1></div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    <input type="text" class="form-control" id="barcodeText" name="barcodeText" placeholder="Scan barcode disini" required>
                                                </div>
                                                <div class="input-group-append">
                                                    <button class="input-group-text btn btn-info btn-block" id="addCacheBtn"><i class="fas fa-plus"></i> Tambah</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-2">
                                        <button id="addButton" type="button" class="btn btn-info btn-block" style="float: right">
                                            <i class="fas fa-save"></i> Proses penjualan
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <table id="cashierList" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th style="display: none">CommodityId</th>
                                            <th class="text-center">Commodity</th>
                                            <th style="display: none">Amount</th>
                                            <th class="text-center">Jumlah</th>
                                            <th style="display: none">Price</th>
                                            <th class="text-center">Harga</th>
                                            <th class="text-center">Total</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal_edit">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-lightblue">
                            <h4 class="modal-title">Modal Title</h4>
                        </div>
                        <div class="modal-body bg-gradient-blue">
                            <form id="formEdit">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label for="commodityName" class="col-sm-2 col-form-label">Commodity</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="commodityId" name="commodityId" hidden>
                                                    <input type="text" class="form-control" id="commodityName" name="commodityName">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label for="amount" class="col-sm-2 col-form-label">Jumlah</label>
                                                <div class="col-sm-10">
                                                    <input type="number" step="1" min="1" class="form-control" id="amount" name="amount" onkeypress="return onlyNumberKey(event)" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="card-footer">
                                    <button type="button" class="btn btn-success" id="submitEdit">Simpan</button>
                                    <button type="button" class="btn btn-warning" id="backEdit">Batal</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal_save">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-lightblue">
                            <h4 class="modalsave-title">Modal Title</h4>
                        </div>
                        <div class="modal-body bg-gradient-blue">
                            <form id="formSave">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5>Pastikan transaksi sudah benar, check grand total dan daftar commodity</h5>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label for="personalDiscount" class="col-sm-5 col-form-label">Rupiah diskon</label>
                                                    <div class="col-sm-7">
                                                        <input type="number" value="0" step="0.01" min="0" class="form-control" id="personalDiscount" name="personalDiscount" onkeypress="return onlyNumberKey(event)" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button type="button" class="btn btn-success" id="saveTransaction">Simpan</button>
                                        <button type="button" class="btn btn-warning" id="backTransaction">Batal</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <th:block layout:fragment="script">
        <script>
            function onlyNumberKey(evt) {
                var ASCIICode = evt.which ? evt.which : evt.keyCode;
                if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
                    return false;
                return true;
            }
        </script>
        <script src="/webjars/AdminLTE/3.2.0/plugins/jquery-validation/jquery.validate.min.js"></script>
        <script src="/webjars/AdminLTE/3.2.0/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="/webjars/AdminLTE/3.2.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
        <script src="/webjars/AdminLTE/3.2.0/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
        <script src="/webjars/AdminLTE/3.2.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
        <script src="/webjars/AdminLTE/3.2.0/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
        <script src="/webjars/AdminLTE/3.2.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
        <script src="/webjars/AdminLTE/3.2.0/plugins/jszip/jszip.min.js"></script>
        <script src="/webjars/AdminLTE/3.2.0/plugins/pdfmake/pdfmake.min.js"></script>
        <script src="/webjars/AdminLTE/3.2.0/plugins/pdfmake/vfs_fonts.js"></script>
        <script src="/webjars/AdminLTE/3.2.0/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
        <script src="/webjars/AdminLTE/3.2.0/plugins/datatables-buttons/js/buttons.print.min.js"></script>
        <script src="/webjars/AdminLTE/3.2.0/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
        <script src="/dist/js/pages/transaction/cashierOld.js"></script>
    </th:block>
</body>
</html>