<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/dist/css/printStruct.css">
        <title>Kito Store</title>
    </head>
    <body>
    <x id="salesNumber" th:text="${salesNumber}" hidden></x>
    <div style="width: 500px;max-width: 500px;">
        <b>=======================================================</b>
        <h1 style="text-align: center">Kito Store</h1>
        <b>=======================================================</b>
        <table>
            <tr>
                <td style="width: 50%;"><b>Nomor nota</b></td>
                <td style="width: 50%;"><div id="salesNumberDesc"></div></td>
            </tr>
            <tr>
                <td><b>Tanggal</b></td>
                <td><div id="salesDate"></div></td>
            </tr>
            <tr>
                <td><b>Kasir</b></td>
                <td><div id="cashierName"></div></td>
            </tr>
        </table>
        <b>=======================================================</b>
        <div id="itemList"></div>
        <b>=======================================================</b>
        <div id="grandTotal"></div>
        <p class="centered">Terima kasih atas kunjungan anda
            <br>Kito Store</p>
    </div>
    <script src="/webjars/AdminLTE/3.2.0/plugins/jquery/jquery.min.js"></script>
    <script src="/dist/js/pages/transaction/printStruct.js"></script>
</body>
</html>