<html xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
    <head>
        <title>Detail pembelian</title>
        <link rel="stylesheet" href="/webjars/AdminLTE/3.2.0/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="/webjars/AdminLTE/3.2.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
        <link rel="stylesheet" href="/webjars/AdminLTE/3.2.0/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    </head>
    <body>
        <div layout:fragment="content">
            <x id="purchaseNumberId" th:text="${purchaseNumberId}" hidden></x>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h4 class="m-0" th:text="${purchaseNumberId}"></h4>
                                    </div>
                                    <div class="col-sm-6 text-right">
                                        <a href="/">Home</a>/Transaksi/<a href="/transaction/purchasing">Pembelian</a>/<x th:text="${purchaseNumberId}"></x>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <dl class="row">
                                    <dt class="col-sm-4">Nomor nota</dt>
                                    <dd class="col-sm-8" th:text="${purchaseNumberId}"></dd>
                                    <dt class="col-sm-4">Tanggal</dt>
                                    <dd class="col-sm-8" id="purchaseDate"></dd>
                                    <dt class="col-sm-4">Supplier</dt>
                                    <dd class="col-sm-8" id="supplierName"></dd>
                                    <dt class="col-sm-4">Catatan</dt>
                                    <dd class="col-sm-8" id="note"></dd>
                                    <dt class="col-sm-4">Grand total</dt>
                                    <dt class="col-sm-8" id="grandTotal"></dt>
                                </dl>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="column" style="width: 80%"></div>
                                    <div class="column" style="width: 20%">
                                        <button id="addButton" type="button" class="btn btn-info btn-block" style="float: right">
                                            <i class="fas fa-plus"></i> Tambah item pembelian
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <table id="purchasingDetailList" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th style="display: none">Purchase number</th>
                                            <th style="display: none">Commodity ID</th>
                                            <th class="text-center">Commodity</th>
                                            <th class="text-center">Kategori</th>
                                            <th style="display: none">AmountNumber</th>
                                            <th class="text-center">Jumlah</th>
                                            <th style="display: none">UnitPriceNumber</th>
                                            <th class="text-center">Harga satuan</th>
                                            <th class="text-center">Total</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal_add">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-lightblue">
                            <h4 class="modal-title">Modal Title</h4>
                        </div>
                        <div class="modal-body bg-gradient-blue">
                            <form id="formRequestAdd">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label for="commodity" class="col-sm-2 col-form-label">Commodity</label>
                                                <div class="col-sm-10">
                                                    <select class="form-control" style="width: 100%" name="commodity" id="commodity" required>
                                                        <option></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label for="amount" class="col-sm-2 col-form-label">Jumlah</label>
                                                <div class="col-sm-10">
                                                    <input type="number" min="0" step="1" class="form-control" id="amount" name="amount" placeholder="Amount" onkeypress="return onlyNumberKey(event)" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label for="unitPrice" class="col-sm-2 col-form-label">Harga satuan</label>
                                                <div class="col-sm-10">
                                                    <input type="number" min="0.01" class="form-control" id="unitPrice" name="unitPrice" placeholder="Unit price" onkeypress="return onlyNumberKey(event)" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="card-footer">
                                    <button type="button" class="btn btn-success" id="submitAddButton">Save</button>
                                    <button type="button" class="btn btn-warning" id="backAddButton">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal_edit">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-lightblue">
                            <h4 class="modaledit-title">Modal Title</h4>
                        </div>
                        <div class="modal-body bg-gradient-blue">
                            <form id="formRequestEdit">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label for="commodityEdit" class="col-sm-2 col-form-label">Commodity</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="commodityIdEdit" name="commodityIdEdit" hidden>
                                                    <input type="text" class="form-control" id="commodityEdit" name="commodityEdit" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label for="amountEdit" class="col-sm-2 col-form-label">Jumlah</label>
                                                <div class="col-sm-10">
                                                    <input type="number" min="0" step="1" class="form-control" id="amountEdit" name="amountEdit" placeholder="Jumlah barang" onkeypress="return onlyNumberKey(event)" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label for="unitPriceEdit" class="col-sm-2 col-form-label">Harga satuan</label>
                                                <div class="col-sm-10">
                                                    <input type="number" min="0.01" class="form-control" id="unitPriceEdit" name="unitPriceEdit" placeholder="Unit price" onkeypress="return onlyNumberKey(event)" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="button" class="btn btn-success" id="submitEditButton">Simpan</button>
                                    <button type="button" class="btn btn-warning" id="backEditButton">Batal</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    <th:block layout:fragment="script">
        <script>
            function onlyNumberKey(evt) {
                var ASCIICode = evt.which ? evt.which : evt.keyCode;
                if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
                    return false;
                return true;
            }
        </script>
        <script src="/webjars/AdminLTE/3.2.0/plugins/jquery-validation/jquery.validate.min.js"></script>
        <script src="/webjars/AdminLTE/3.2.0/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="/webjars/AdminLTE/3.2.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
        <script src="/webjars/AdminLTE/3.2.0/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
        <script src="/webjars/AdminLTE/3.2.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
        <script src="/webjars/AdminLTE/3.2.0/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
        <script src="/webjars/AdminLTE/3.2.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
        <script src="/webjars/AdminLTE/3.2.0/plugins/jszip/jszip.min.js"></script>
        <script src="/webjars/AdminLTE/3.2.0/plugins/pdfmake/pdfmake.min.js"></script>
        <script src="/webjars/AdminLTE/3.2.0/plugins/pdfmake/vfs_fonts.js"></script>
        <script src="/webjars/AdminLTE/3.2.0/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
        <script src="/webjars/AdminLTE/3.2.0/plugins/datatables-buttons/js/buttons.print.min.js"></script>
        <script src="/webjars/AdminLTE/3.2.0/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
        <script src="/dist/js/pages/transaction/purchasingDetailOld.js"></script>
    </th:block>
</body>
</html>
