<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Pembelian</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#" onclick="changeContent('home')">Home</a></li>
                    <li class="breadcrumb-item">Master</li>
                    <li class="breadcrumb-item active">Pembelian</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-outline card-warning">
                    <div class="card-header">
                        <h3 class="card-title">Daftar pembelian</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="column" style="width: 80%"></div>
                            <div class="column" style="width: 20%">
                                <button type="button" onclick="addPurchasingInitiation()" class="btn btn-info btn-block"
                                        style="float: right">
                                    <i class="fas fa-plus"></i> Tambah data pembelian
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="purchasingList" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">Nomor nota</th>
                                <th class="text-center">Tanggal</th>
                                <th style="display: none">Supplier Id</th>
                                <th class="text-center">Supplier</th>
                                <th class="text-center">Catatan</th>
                                <th class="text-center">Grand total</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="purchasingModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-lightblue">
                    <h4 class="modal-title" id="purchasingModalTitle">Modal Title</h4>
                </div>
                <div class="modal-body bg-gradient-blue">
                    <form id="purchasingForm">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="purchasingPurchaseNumberInputField" class="col-sm-2 col-form-label">Nomor nota</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="purchasingPurchaseNumberInputField"
                                                   name="purchasingPurchaseNumberInputField" placeholder="Nomor nota" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="purchasingPurchaseDateInputField" class="col-sm-2 col-form-label">Tanggal</label>
                                        <div class="col-sm-10">
                                            <input type="date" class="form-control" id="purchasingPurchaseDateInputField" name="purchasingPurchaseDateInputField"
                                                   placeholder="Tanggal pembelian" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="supplierInputField" class="col-sm-2 col-form-label">Supplier</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" style="width: 100%" name="supplierInputField" id="supplierInputField"
                                                    required>
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="purchasingNoteInputField" class="col-sm-2 col-form-label">Catatan</label>
                                        <textarea class="form-control" rows="3" name="purchasingNoteInputField" id="purchasingNoteInputField"
                                                  placeholder="Catatan pembelian"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-success" onclick="submitPurchasingForm()">Simpan</button>
                            <button type="button" class="btn btn-warning" onclick="cancelPurchasingOperation()">Batal</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>