<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Pembelian</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#" onclick="changeContent('home')">Home</a></li>
                    <li class="breadcrumb-item">Master</li>
                    <li class="breadcrumb-item"><a href="#" onclick="changeContent('purchasing')">Pembelian</a></li>
                    <li class="breadcrumb-item active"><span id="purchaseNumberDetailSession"></span></li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-outline card-warning">
                    <div class="card-header">
                        <h3 class="card-title" id="purchaseNumberPurchaseDetailHeader"></h3>
                    </div>
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-4">Nomor nota</dt>
                            <dd class="col-sm-8" id="purchaseNumberPurchaseDetailInfo"></dd>
                            <dt class="col-sm-4">Tanggal</dt>
                            <dd class="col-sm-8" id="purchaseDatePurchaseDetailInfo"></dd>
                            <dt class="col-sm-4">Supplier</dt>
                            <dd class="col-sm-8" id="supplierNamePurchaseDetailInfo"></dd>
                            <dt class="col-sm-4">Catatan</dt>
                            <dd class="col-sm-8" id="notePurchaseDetailInfo"></dd>
                            <div id="notePurchaseDetailInfoNewLine"></div>
                            <dt class="col-sm-4">Grand total</dt>
                            <dt class="col-sm-8" id="grandTotalPurchaseDetailInfo"></dt>
                        </dl>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="column" style="width: 80%"></div>
                            <div class="column" style="width: 20%">
                                <button type="button" onclick="addPurchaseDetailInitiation()" class="btn btn-primary btn-block"
                                        style="float: right">
                                    <i class="fas fa-plus"></i> Tambah item pembelian
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="purchasingDetailList" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th style="display: none">Purchase number</th>
                                <th style="display: none">Commodity ID</th>
                                <th class="text-center">Commodity</th>
                                <th class="text-center">Kategori</th>
                                <th style="display: none">AmountNumber</th>
                                <th class="text-center">Jumlah</th>
                                <th style="display: none">UnitPriceNumber</th>
                                <th class="text-center">Harga satuan</th>
                                <th class="text-center">Total</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="purchaseDetailAddModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-lightblue">
                    <h4 class="modal-title" id="purchaseDetailAddModalTitle">Modal Title</h4>
                </div>
                <div class="modal-body bg-gradient-blue">
                    <form id="purchasingDetailAddForm">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="commodityPurchaseDetailAddInputField" class="col-sm-2 col-form-label">Commodity</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" style="width: 100%" name="commodityPurchaseDetailAddInputField" id="commodityPurchaseDetailAddInputField"
                                                    required>
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="amountPurchaseDetailAddInputField" class="col-sm-2 col-form-label">Jumlah</label>
                                        <div class="col-sm-10">
                                            <input type="number" min="0" step="1" class="form-control" id="amountPurchaseDetailAddInputField"
                                                   name="amountPurchaseDetailAddInputField" placeholder="Amount"
                                                   onkeypress="return onlyNumberKey(event)" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="unitPricePurchaseDetailAddInputField" class="col-sm-2 col-form-label">Harga satuan</label>
                                        <div class="col-sm-10">
                                            <input type="number" min="0.01" class="form-control" id="unitPricePurchaseDetailAddInputField"
                                                   name="unitPricePurchaseDetailAddInputField" placeholder="Unit price"
                                                   onkeypress="return onlyNumberKey(event)" required>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-success" onclick="submitPurchaseDetailAddForm()">Save</button>
                            <button type="button" class="btn btn-warning" onclick="cancelPurchaseDetailAddOperation()">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="purchaseDetailEditModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-lightblue">
                    <h4 class="modal-title" id="purchaseDetailEditModalTitle">Modal Title</h4>
                </div>
                <div class="modal-body bg-gradient-blue">
                    <form id="purchasingDetailEditForm">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="commodityNamePurchaseDetailEditInputField" class="col-sm-2 col-form-label">Commodity</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="commodityIdPurchaseDetailEditInputField"
                                                   name="commodityIdPurchaseDetailEditInputField" hidden>
                                            <input type="text" class="form-control" id="commodityNamePurchaseDetailEditInputField" name="commodityNamePurchaseDetailEditInputField"
                                                   readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="amountPurchaseDetailEditInputField" class="col-sm-2 col-form-label">Jumlah</label>
                                        <div class="col-sm-10">
                                            <input type="number" min="0" step="1" class="form-control" id="amountPurchaseDetailEditInputField"
                                                   name="amountPurchaseDetailEditInputField" placeholder="Jumlah barang"
                                                   onkeypress="return onlyNumberKey(event)" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="unitPricePurchaseDetailEditInputField" class="col-sm-2 col-form-label">Harga satuan</label>
                                        <div class="col-sm-10">
                                            <input type="number" min="0.01" class="form-control" id="unitPricePurchaseDetailEditInputField"
                                                   name="unitPricePurchaseDetailEditInputField" placeholder="Unit price"
                                                   onkeypress="return onlyNumberKey(event)" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-success" onclick="submitPurchaseDetailEditForm()">Simpan</button>
                            <button type="button" class="btn btn-warning" onclick="cancelPurchaseDetailEditOperation()">Batal</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
