<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12 text-center">
                <h1 id="receiptNumberPrintPreview">KITO Store receipt</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card card-outline card-success">
                    <div class="card-body" id="receiptPrintPreviewContent">
                        <div class="row">
                            <div class="col-sm-12">
                                <b>===============================================</b></div>
                            <div class="col-sm-12 text-center"><h4>Kito Store</h4></div>
                            <div class="col-sm-5"><b>Nomor Nota</b></div>
                            <div class="col-sm-7" id="receiptNumberTablePrintPreview"></div>
                            <div class="col-sm-5"><b>Tanggal</b></div>
                            <div class="col-sm-7" id="receiptSalesDatePrintPreview"></div>
                            <div class="col-sm-5"><b>Kasir</b></div>
                            <div class="col-sm-7" id="receiptCashierNamePrintPreview"></div>
                            <div class="col-sm-12">
                                <b>===============================================</b></div>
                            <div class="col-sm-3 text-center border-right border-bottom">
                                <b>Commodity</b></div>
                            <div class="col-sm-3 text-center border-left border-right border-bottom"><b>Jumlah</b>
                            </div>
                            <div class="col-sm-3 text-center border-left border-right border-bottom"><b>Harga</b>
                            </div>
                            <div class="col-sm-3 text-center border-left border-bottom"><b>Total</b>
                            </div>
                            <div id="receiptItemListPrintPreview"></div>
                            <div class="col-sm-12">
                                <b>===============================================</b></div>
                            <div id="receiptGrandTotalPrintPreview"></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="col-12">
                            <button id="receiptPrintButtonPrintPreview" class="btn btn-primary float-right"
                                    onclick="printReceiptFromPrintPreview()">
                                <i class="fas fa-print"></i>Print
                            </button>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-warning float-right" style="margin-right: 5px;"
                                    onclick="receiptChangeContent()"><i
                                    class="fas fa-close"></i> Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>