<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Penjualan</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#" onclick="changeContent('home')">Home</a></li>
                    <li class="breadcrumb-item">Transaksi</li>
                    <li class="breadcrumb-item active">Penjualan</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-outline card-success">
                    <div class="card-header">
                        <h3 class="card-title" id="cashierName">Penjualan</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="column" style="width: 85%"></div>
                            <div class="column" style="width: 15%">
                                <button type="button" onclick="addPenjualanInitiation()"
                                        class="btn btn-primary btn-block"
                                        style="float: right">
                                    <i class="fas fa-plus"></i> Tambah Penjualan
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="salesList" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">Nomor nota</th>
                                    <th class="text-center">Tanggal</th>
                                    <th class="text-center">Kasir</th>
                                    <th class="text-center">Grand total</th>
                                    <th style="display: none">Rupiah diskon</th>
                                    <th class="text-center">Diskon</th>
                                    <th class="text-center">Total bayar</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="penjualanModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-lightblue">
                    <h4 class="modal-title" id="penjualan-modal-title">Modal Title</h4>
                </div>
                <div class="modal-body bg-gradient-blue">
                    <form id="formRequestAddPenjualan">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="personalDiscount" class="col-sm-5 col-form-label">Rupiah diskon</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="penjualanNumber" name="penjualanNumber" hidden>
                                            <input type="number" value="0" step="0.01" min="0" class="form-control" id="penjualanDiscount" name="penjualanDiscount" onkeypress="return onlyNumberKey(event)" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-success" onclick="submitPenjualanForm()">Simpan</button>
                            <button type="button" class="btn btn-warning" onclick="cancelPenjualanOperation()">Batal</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>