<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Penjualan</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#" onclick="changeContent('home')">Home</a></li>
                    <li class="breadcrumb-item">Transaksi</li>
                    <li class="breadcrumb-item"><a href="#" onclick="changeContent('sales')">Penjualan</a></li>
                    <li class="breadcrumb-item active"><span id="salesNumberDetailSession"></span></li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-outline card-success">
                    <div class="card-header">
                        <h3 class="card-title" id="salesNumberPurchaseDetailHeader"></h3>
                    </div>
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-3">Nomor nota</dt>
                            <dd class="col-sm-9" id="salesNumberSalesDetailInfo"></dd>
                            <dt class="col-sm-3">Tanggal</dt>
                            <dd class="col-sm-9" id="salesDateSalesDetail"></dd>
                            <dt class="col-sm-3">Kasir</dt>
                            <dd class="col-sm-9" id="cashierNameSalesDetail"></dd>
                            <dt class="col-sm-3">Grand total</dt>
                            <dt class="col-sm-9" id="grandTotalSalesDetail"></dt>
                            <dt class="col-sm-3">Diskon</dt>
                            <dt class="col-sm-9" id="personalDiscountSalesDetail"></dt>
                            <dt class="col-sm-3">Total bayar</dt>
                            <dt class="col-sm-9" id="totalPaymentSalesDetail"></dt>
                        </dl>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="column" style="width: 85%"></div>
                            <div class="column" style="width: 15%">
                                <button onclick="openReceiptFromSalesDetail()" type="button" class="btn btn-primary btn-block" style="float: right">
                                    <i class="fas fa-print"></i> cetak
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="column" style="width: 85%"></div>
                            <div class="column" style="width: 15%">
                                <button onclick="addSalesDetailItemData()" type="button" class="btn btn-info btn-block" style="float: right">
                                    <i class="fas fa-plus"></i> Tambah item
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="salesDetailList" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="display: none">Sales number</th>
                                    <th style="display: none">Commodity ID</th>
                                    <th class="text-center">Commodity</th>
                                    <th style="display: none">AmountNumber</th>
                                    <th class="text-center">Jumlah</th>
                                    <th style="display: none">UnitPriceNumber</th>
                                    <th class="text-center">Harga satuan</th>
                                    <th class="text-center">Total</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="salesDetailAddModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-lightblue">
                    <h4 class="modal-title" id="salesDetailAddModalTitle">Modal Title</h4>
                </div>
                <div class="modal-body bg-gradient-blue">
                    <form id="formSalesRequestAddDetail">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="commoditySalesDetailInputField" class="col-sm-2 col-form-label">Commodity</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" style="width: 100%" name="commoditySalesDetailInputField" id="commoditySalesDetailInputField" required>
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="amountSalesDetailInputField" class="col-sm-2 col-form-label">Jumlah</label>
                                        <div class="col-sm-10">
                                            <input type="number" min="0" step="1" class="form-control" id="amountSalesDetailInputField" name="amountSalesDetailInputField" placeholder="Amount" onkeypress="return onlyNumberKey(event)" required>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-success" onclick="submitSalesDetailAddOperation()">Save</button>
                            <button type="button" class="btn btn-warning" onclick="cancelSalesDetailAddOperation()">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="salesDetailEditModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-lightblue">
                    <h4 class="modal-title" id="salesDetailEditModalTitle">Modal Title</h4>
                </div>
                <div class="modal-body bg-gradient-blue">
                    <form id="formSalesRequestEditDetail">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="commodityNameEditSalesDetailInputField" class="col-sm-2 col-form-label">Commodity</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="commodityIdEditSalesDetailInputField" name="commodityIdEditSalesDetailInputField" hidden>
                                            <input type="text" class="form-control" id="commodityNameEditSalesDetailInputField" name="commodityNameEditSalesDetailInputField" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="amountEditSalesDetailInputField" class="col-sm-2 col-form-label">Jumlah</label>
                                        <div class="col-sm-10">
                                            <input type="number" min="0" step="1" class="form-control" id="amountEditSalesDetailInputField" name="amountEditSalesDetailInputField" placeholder="Jumlah barang" onkeypress="return onlyNumberKey(event)" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-success" onclick="submitEditSalesDetail()">Simpan</button>
                            <button type="button" class="btn btn-warning" onclick="backEditSalesDetail()">Batal</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>