<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Kito Store</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        <link rel="stylesheet" href="/webjars/AdminLTE/3.2.0/plugins/fontawesome-free/css/all.min.css">
        <link rel="stylesheet" href="/webjars/AdminLTE/3.2.0/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
        <link rel="stylesheet" href="/webjars/AdminLTE/3.2.0/dist/css/adminlte.min.css">
        <link rel="stylesheet" href="/webjars/AdminLTE/3.2.0/plugins/sweetalert2/sweetalert2.css">
    </head>
    <body class="hold-transition login-page">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="login-logo">
                    <b>Struk Kito Store untuk nota <x id="salesNumber" th:text="${salesNumber}"></x></b>
                </div>
                <div class="card">
                    <div class="card-body" id="struct">
                        <div class="row">
                            <div class="col-sm-12"><b>==================================================</b></div>
                            <div class="col-sm-12 text-center"><h4>Kito Store</h4></div>
                            <div class="col-sm-5"><b>Nomor Nota</b></div>
                            <div class="col-sm-7" id="salesNumberDesc"></div>
                            <div class="col-sm-5"><b>Tanggal</b></div>
                            <div class="col-sm-7" id="salesDate"></div>
                            <div class="col-sm-5"><b>Kasir</b></div>
                            <div class="col-sm-7" id="cashierName"></div>
                            <div class="col-sm-12"><b>==================================================</b></div>
                            <div class="col-sm-3 text-center border-right border-bottom"><b>Commodity</b></div>
                            <div class="col-sm-3 text-center border-left border-right border-bottom"><b>Jumlah</b></div>
                            <div class="col-sm-3 text-center border-left border-right border-bottom"><b>Harga</b></div>
                            <div class="col-sm-3 text-center border-left border-bottom"><b>Total</b></div>
                            <div id="itemList"></div>
                            <div class="col-sm-12"><b>==================================================</b></div>
                            <div id="grandTotal"></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="col-12">
                            <a th:href="@{/transaction/cashier/printStruct?salesNumber=} + ${salesNumber}" class="btn btn-primary float-right"><i class="fas fa-print"></i> Print</a>
                        </div>
                        <div class="col-12">
                            <button id="backButton" class="btn btn-warning float-right" style="margin-right: 5px;"><i class="fas fa-close"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <script src="/webjars/AdminLTE/3.2.0/plugins/jquery/jquery.min.js"></script>
        <script src="/webjars/AdminLTE/3.2.0/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/webjars/AdminLTE/3.2.0/dist/js/adminlte.min.js"></script>
        <script src="/webjars/AdminLTE/3.2.0/plugins/sweetalert2/sweetalert2.js"></script>
        <script src="/dist/js/pages/transaction/struct.js"></script>
    </body>
</html>