<div class="modal fade" id="modal_change_password">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-lightblue">
                <h4 class="modal-title">Ubah password</h4>
            </div>
            <div class="modal-body bg-gradient-blue">
                <form id="changePasswordForm">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="oldPassword" class="col-sm-2 col-form-label">Password lama</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="oldPassword" name="oldPassword"
                                               placeholder="Masukkan password lama anda" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="newPassword" class="col-sm-2 col-form-label">Password baru</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="newPassword" name="newPassword"
                                               placeholder="Masukkan password baru yang anda inginkan" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="newPasswordConfirmation" class="col-sm-2 col-form-label">Password
                                        baru</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="newPasswordConfirmation"
                                               name="newPasswordConfirmation"
                                               placeholder="Masukkan kembali password baru yang anda inginkan" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-success" onclick="submitChangePassword()">Ubah password
                        </button>
                        <button type="button" class="btn btn-warning" onclick="cancelChangePassword()">Batal</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>