<nav class="main-header navbar navbar-expand navbar-white navbar-light bg-gradient-primary">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown user-menu">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                <img src="/dist/img/user2-160x160.png" class="user-image img-circle elevation-2" alt="User Image">
                <span class="d-none d-md-inline"><x th:text="${usernamename}"></x></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <li class="user-header bg-gradient-info">
                    <img src="/dist/img/user2-160x160.png" class="img-circle elevation-2" alt="User Image">
                    <p th:text="${userRole}"></p><p th:text="${usernamename}"></p>
                </li>
                <li class="user-footer">
                    <button id="changePasswordButton" type="button" class="btn btn-primary btn-flat bg-gradient-orange">
                        Ubah password
                    </button>
                    <a href="/logout" class="btn btn-secondary btn-flat float-right bg-gradient-warning">Sign out</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>