<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kito Stores</title>
    <link rel="icon" type="image/x-icon" href="/dist/img/logokito.ico">
    <link rel="shortcut icon" type="image/x-icon" href="/dist/img/logokito.ico"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="/webjars/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/webjars/AdminLTE/3.2.0/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="/webjars/AdminLTE/3.2.0/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/webjars/AdminLTE/3.2.0/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="/webjars/AdminLTE/3.2.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="/webjars/AdminLTE/3.2.0/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/webjars/AdminLTE/3.2.0/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/AdminLTE/3.2.0/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="/webjars/AdminLTE/3.2.0/plugins/sweetalert2/sweetalert2.min.css">
</head>