<script src="/webjars/AdminLTE/3.2.0/plugins/jquery/jquery.min.js"></script>
<script src="/webjars/AdminLTE/3.2.0/dist/js/adminlte.min.js"></script>
<script src="/webjars/AdminLTE/3.2.0/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/webjars/AdminLTE/3.2.0/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/webjars/AdminLTE/3.2.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/webjars/AdminLTE/3.2.0/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script src="/webjars/AdminLTE/3.2.0/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/webjars/AdminLTE/3.2.0/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/webjars/AdminLTE/3.2.0/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/webjars/AdminLTE/3.2.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/webjars/AdminLTE/3.2.0/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="/webjars/AdminLTE/3.2.0/plugins/jszip/jszip.min.js"></script>
<script src="/webjars/AdminLTE/3.2.0/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<script src="/webjars/AdminLTE/3.2.0/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/webjars/AdminLTE/3.2.0/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/webjars/AdminLTE/3.2.0/plugins/sweetalert2/sweetalert2.min.js"></script>
<script src="/webjars/AdminLTE/3.2.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/webjars/AdminLTE/3.2.0/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<!--=======================================================================================================================-->
<!--================================================== Self defining JS ===================================================-->
<!--=======================================================================================================================-->
<script src="/dist/js/min/global.min.js"></script>
<script src="/dist/js/main.js"></script>
<script src="/dist/js/min/changePassword.min.js"></script>
<script src="/dist/js/min/pages/home.min.js"></script>
<script src="/dist/js/min/pages/master/userApp.min.js"></script>
<script src="/dist/js/min/pages/master/category.min.js"></script>
<script src="/dist/js/min/pages/master/supplier.min.js"></script>
<script src="/dist/js/min/pages/master/unitMeasurement.min.js"></script>
<script src="/dist/js/min/pages/master/salesMeasurement.min.js"></script>
<script src="/dist/js/min/pages/master/commodity.min.js"></script>
<script src="/dist/js/min/pages/transaction/cashier.min.js"></script>
<script src="/dist/js/min/pages/transaction/receipt.min.js"></script>
<script src="/dist/js/min/pages/transaction/purchasing.min.js"></script>
<script src="/dist/js/pages/transaction/purchasingDetail.js"></script>
<script src="/dist/js/pages/transaction/sales.js"></script>
<script src="/dist/js/pages/transaction/salesDetail.js"></script>