<a href="/" class="brand-link">
    <img src="/dist/img/logokito.png" alt="Kito Store Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Kito Store</span>
</a>
<div class="sidebar">
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item" th:if="${userRole == 'OWNER' OR userRole == 'MANAGEMENT' OR userRole == 'KEPALA_TOKO'}">
                <a id="dashboard" href="/dashboard" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Dashboard
                    </p>
                </a>
            </li>
            <li class="nav-header bg-gradient-gray" th:if="${userRole == 'OWNER' OR userRole == 'MANAGEMENT'}">Master</li>
            <li class="nav-item" th:if="${userRole == 'OWNER' OR userRole == 'MANAGEMENT'}">
                <a id="masterUserApp" href="/master/userApp" class="nav-link">
                    <i class="fas fa-users nav-icon"></i>
                    <p>User</p>
                </a>
            </li>
            <li class="nav-item" th:if="${userRole == 'OWNER' OR userRole == 'MANAGEMENT'}">
                <a id="masterSupplier" href="/master/supplier" class="nav-link">
                    <i class="fas fa-handshake nav-icon"></i>
                    <p>Supplier</p>
                </a>
            </li>
            <li class="nav-item" th:if="${userRole == 'OWNER' OR userRole == 'MANAGEMENT'}">
                <a id="masterCategory" href="/master/category" class="nav-link">
                    <i class="nav-icon far fa-clone"></i>
                    <p>Kategori</p>
                </a>
            </li>
            <li class="nav-item" th:if="${userRole == 'OWNER' OR userRole == 'MANAGEMENT'}">
                <a id="masterUnitMeasurement" href="/master/unitMeasurement" class="nav-link">
                    <i class="fas fa-ruler nav-icon"></i>
                    <p>Ukuran</p>
                </a>
            </li>
            <li class="nav-item" th:if="${userRole == 'OWNER' OR userRole == 'MANAGEMENT'}">
                <a id="masterSalesMeasurement" href="/master/salesMeasurement" class="nav-link">
                    <i class="fas fa-align-justify nav-icon"></i>
                    <p>Satuan</p>
                </a>
            </li>
            <li class="nav-item" th:if="${userRole == 'OWNER' OR userRole == 'MANAGEMENT'}">
                <a id="masterCommodity" href="/master/commodity" class="nav-link">
                    <i class="fas fa-briefcase nav-icon"></i>
                    <p>Commodity</p>
                </a>
            </li>
            <li class="nav-header bg-gradient-success">Transaksi</li>
            <li class="nav-item" th:if="${userRole == 'OWNER' OR userRole == 'MANAGEMENT' OR userRole == 'KEPALA_TOKO' OR userRole == 'ADMIN'}">
                <a id="transactionPurchasing" href="/transaction/purchasing" class="nav-link">
                    <i class="fas fa-store nav-icon"></i>
                    <p>Pembelian</p>
                </a>
            </li>
            <li class="nav-item">
                <a id="transactionCashier" href="/transaction/cashier" class="nav-link">
                    <i class="nav-icon fas fa-cash-register"></i>
                    <p>Kasir</p>
                </a>
            </li>
            <li class="nav-item" th:if="${userRole == 'OWNER' OR userRole == 'MANAGEMENT' OR userRole == 'KEPALA_TOKO' OR userRole == 'ADMIN'}">
                <a id="transactionSales" href="/transaction/sales" class="nav-link">
                    <i class="nav-icon fas fa-chart-bar"></i>
                    <p>Penjualan</p>
                </a>
            </li>
            <li class="nav-header bg-gradient-info">Laporan</li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fas fa-money-check nav-icon"></i>
                    <p>Rekap penjualan</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-wallet"></i>
                    <p>Data pembelian</p>
                </a>
            </li>
        </ul>
    </nav>
</div>