<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="/" class="brand-link">
        <img src="/dist/img/logokito.png" alt="Kito Store Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Kito Store</span>
    </a>
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item"
                    sec:authorize="hasAnyRole('OWNER','MANAGEMENT','KEPALA_TOKO')">
                    <a id="dashboardMenu" href="#" onclick="changeContent('home')" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-header bg-gradient-gray" th:if="${userRole == 'OWNER' OR userRole == 'MANAGEMENT'}">
                    Master
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('OWNER','MANAGEMENT')">
                    <a id="userAppMenu" href="#" onclick="changeContent('userApp')" class="nav-link">
                        <i class="fas fa-users nav-icon"></i>
                        <p>User</p>
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('OWNER','MANAGEMENT')">
                    <a id="masterSupplier" href="#" onclick="changeContent('supplier')" class="nav-link">
                        <i class="fas fa-handshake nav-icon"></i>
                        <p>Supplier</p>
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('OWNER','MANAGEMENT')">
                    <a id="masterCategory" href="#" onclick="changeContent('category')" class="nav-link">
                        <i class="nav-icon far fa-object-group"></i>
                        <p>Kategori</p>
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('OWNER','MANAGEMENT')">
                    <a id="masterUnitMeasurement" href="#" onclick="changeContent('unitMeasurement')" class="nav-link">
                        <i class="fas fa-ruler nav-icon"></i>
                        <p>Ukuran</p>
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('OWNER','MANAGEMENT')">
                    <a id="masterSalesMeasurement" href="#" onclick="changeContent('salesMeasurement')" class="nav-link">
                        <i class="fas fa-balance-scale nav-icon"></i>
                        <p>Satuan</p>
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('OWNER','MANAGEMENT')">
                    <a id="masterCommodity" href="#" onclick="changeContent('commodity')" class="nav-link">
                        <i class="fas fa-briefcase nav-icon"></i>
                        <p>Commodity</p>
                    </a>
                </li>
                <li class="nav-header bg-gradient-success">Transaksi</li>
                <li class="nav-item" sec:authorize="hasAnyRole('OWNER','MANAGEMENT','KEPALA_TOKO','ADMIN')">
                    <a id="transactionPurchasing" href="#" onclick="changeContent('purchasing')" class="nav-link">
                        <i class="fas fa-credit-card nav-icon"></i>
                        <p>Pembelian</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="transactionCashier" href="#" onclick="changeContent('cashier')" class="nav-link">
                        <i class="nav-icon fas fa-cash-register"></i>
                        <p>Kasir</p>
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('OWNER','MANAGEMENT','KEPALA_TOKO','ADMIN')">
                    <a id="transactionSales" href="#" onclick="changeContent('sales')" class="nav-link">
                        <i class="nav-icon fas fa-calculator"></i>
                        <p>Penjualan</p>
                    </a>
                </li>
                <li class="nav-header bg-gradient-info">Laporan</li>
                <li class="nav-item">
                    <a id="transactionSalesSummary" href="#" onclick="changeContent('salesSummary')" class="nav-link">
                        <i class="fas fa-money-check nav-icon"></i>
                        <p>Rekap penjualan</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="transactionPurchasingSummary" href="#" onclick="changeContent('purchasingSummary')" class="nav-link">
                        <i class="nav-icon fas fa-wallet"></i>
                        <p>Data pembelian</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>