<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Dashboard</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="small-box bg-gradient-success">
                    <div class="inner">
                        <h3 id="thisMonthSalesGrandTotal"></h3>
                        <p>Total penjualan <span id="monthSalesGrandTotalName"></span></p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-cash"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-gradient-primary">
                    <div class="inner">
                        <h3 id="thisDaySalesGrandTotal"></h3>
                        <p>Total penjualan <span id="todaySalesGrandTotalName"></span></p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pricetags"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-gradient-info">
                    <div class="inner">
                        <h3 id="thisMonthPurchaseGrandTotal"></h3>
                        <p>Total pembelian <span id="monthPurchaseGrandTotalName"></span></p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-gradient-secondary">
                    <div class="inner">
                        <h3 id="totalStockInCurrency"></h3>
                        <p>Total stock dalam rupiah</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-stalker"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header border-0">
                        <h3 class="card-title">5 stok commodity terbanyak</h3>
                        <div class="card-tools"></div>
                    </div>
                    <div class="card-body table-responsive p-0">
                        <div id="fms"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header border-0">
                        <h3 class="card-title">5 commodity terlaris bulan ini</h3>
                        <div class="card-tools"></div>
                    </div>
                    <div class="card-body table-responsive p-0">
                        <div id="fmsl"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>