<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Kito Store | Log in</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        <link rel="stylesheet" href="/webjars/AdminLTE/3.2.0/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
        <link rel="stylesheet" href="/webjars/AdminLTE/3.2.0/plugins/fontawesome-free/css/all.min.css">
        <link rel="stylesheet" href="/webjars/AdminLTE/3.2.0/dist/css/adminlte.min.css">
    </head>
    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo">
                <img src="/dist/img/logokito.png"/>
                <br>
                <b>KITO STORE</b>
            </div>
            <div th:if="${errorMessage != null}">
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <x th:text="${errorMessage}"></x>
                </div>
            </div>
            <div class="card">
                <div class="card-body login-card-body">
                    <form action="/login" method="post">
                        <div class="input-group mb-3">
                            <input name="username" id="username" type="text" class="form-control" placeholder="Username">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input name="password" id="password" type="password" class="form-control" placeholder="Password">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary btn-block pull-right">Sign In</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="/webjars/AdminLTE/3.2.0/plugins/jquery/jquery.min.js"></script>
        <script src="/webjars/AdminLTE/3.2.0/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/webjars/AdminLTE/3.2.0/dist/js/adminlte.min.js"></script>
    </body>
</html>