<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head th:replace="fragment/head"></head>
<body class="hold-transition sidebar-collapse sidebar-mini layout-navbar-fixed">
<x id="securityHolderRole" th:text="${userRole}" hidden></x>
<x id="receiptNumberSession" th:text="@{'SL/2022/03/0011'}" hidden></x>
<x id="purchaseNumberSession" th:text="@{'ARKPL/001/023032022'}" hidden></x>
<x id="menuBeforeReceipt" hidden>cashier</x>
<div class="wrapper">
    <div th:replace="fragment/navbar"></div>
<!--    <div th:replace="fragment/sidebar"></div>-->
    <div id="menuSidebarDiv"></div>
    <div class="content-wrapper">
        <div id="contentBody"></div>
        <div th:replace="fragment/changePassword"></div>
    </div>
    <footer class="main-footer">
        <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
            <b>Version</b> 3.2.0 <x th:text="${#dates.format(#dates.createNow(), 'yyyy')}"></x>
        </div>
    </footer>
    <aside class="control-sidebar control-sidebar-dark"></aside>
</div>
<div th:replace="fragment/jsLibrary"></div>
</body>
</html>