<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Commodity</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#" onclick="changeContent('home')">Home</a></li>
                    <li class="breadcrumb-item">Master</li>
                    <li class="breadcrumb-item active">User</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-outline card-info">
                    <div class="card-header">
                        <h3 class="card-title">Daftar commodity</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="column" style="width: 85%"></div>
                            <div class="column" style="width: 15%">
                                <button type="button" onclick="addCommodityInitiation()"
                                        class="btn btn-primary btn-block"
                                        style="float: right">
                                    <i class="fas fa-plus"></i> Tambah commodity
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="commodityList" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th style="display: none">ID</th>
                                <th class="text-center">Nama</th>
                                <th style="display: none">Category ID</th>
                                <th class="text-center">Kategori</th>
                                <th style="display: none">Unit measurement ID</th>
                                <th class="text-center">Ukuran</th>
                                <th style="display: none">Sales measurement ID</th>
                                <th class="text-center">Satuan</th>
                                <th style="display: none">price</th>
                                <th class="text-center">Harga jual</th>
                                <th class="text-center">Stok</th>
                                <th class="text-center">Total Stok</th>
                                <th class="text-center">Deskripsi</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="commodityModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-lightblue">
                    <h4 class="modal-title" id="commodityModalTitle">Modal Title</h4>
                </div>
                <div class="modal-body bg-gradient-blue">
                    <form id="commodityForm">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="commodityIdInputField" class="col-sm-2 col-form-label">Kode
                                            barcode</label>
                                        <div class="col-sm-10">
                                            <input type="text" minlength="12" maxlength="12" class="form-control"
                                                   id="commodityIdInputField" name="commodityIdInputField"
                                                   onkeypress="return onlyNumberKey(event)" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="commodityNameInputField"
                                               class="col-sm-2 col-form-label">Nama</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="commodityNameInputField"
                                                   name="commodityNameInputField"
                                                   placeholder="Nama commodity" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="categoryInputField" class="col-sm-2 col-form-label">Kategori</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" style="width: 100%" name="categoryInputField"
                                                    id="categoryInputField"
                                                    required>
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="unitMeasurementInputField"
                                               class="col-sm-2 col-form-label">Ukuran</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" style="width: 100%"
                                                    name="unitMeasurementInputField"
                                                    id="unitMeasurementInputField" required>
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="salesMeasurementInputField"
                                               class="col-sm-2 col-form-label">Satuan</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" style="width: 100%"
                                                    name="salesMeasurementInputField"
                                                    id="salesMeasurementInputField" required>
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="commoditySalesPriceInputField" class="col-sm-2 col-form-label">Harga
                                            jual</label>
                                        <div class="col-sm-10">
                                            <input type="number" step="0.01" class="form-control"
                                                   id="commoditySalesPriceInputField"
                                                   name="commoditySalesPriceInputField" placeholder="Harga jual"
                                                   onkeypress="return onlyNumberKey(event)" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="commodityDescriptionInputField" class="col-sm-2 col-form-label">Deskripsi</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="commodityDescriptionInputField"
                                                   name="commodityDescriptionInputField"
                                                   placeholder="Deskripsi">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-success" onclick="submitCommodityForm()">Simpan
                            </button>
                            <button type="button" class="btn btn-warning" onclick="cancelCommodityOperation()">Batal
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="barcodeCommodityModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="barcodeCommodityModalTitle">Modal Title</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <img id="barcodeCommodityFrame">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" onclick="closeViewBarcodeModal()">Tutup</button>
                </div>
            </div>
        </div>
    </div>
</section>
