<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Satuan</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#" onclick="changeContent('home')">Home</a></li>
                    <li class="breadcrumb-item">Master</li>
                    <li class="breadcrumb-item active">Satuan</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-outline card-info">
                    <div class="card-header">
                        <h3 class="card-title">Daftar satuan</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="column" style="width: 85%"></div>
                            <div class="column" style="width: 15%">
                                <button type="button" onclick="addSalesMeasurementInitiation()"
                                        class="btn btn-primary btn-block"
                                        style="float: right">
                                    <i class="fas fa-plus"></i> Tambah satuan
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="salesMeasurementList" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th style="display: none">ID</th>
                                <th class="text-center">Nama</th>
                                <th class="text-center">Singkatan</th>
                                <th class="text-center">Deskripsi</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="salesMeasurementModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-lightblue">
                    <h4 class="modal-title" id="salesMeasurementModalTitle">Modal Title</h4>
                </div>
                <div class="modal-body bg-gradient-blue">
                    <form id="salesMeasurementForm">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="salesMeasurementNameInputField" class="col-sm-2 col-form-label">Nama</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="salesMeasurementIdInputField" name="salesMeasurementIdInputField" hidden="true">
                                            <input type="text" class="form-control" id="salesMeasurementNameInputField" name="salesMeasurementNameInputField" placeholder="Nama satuan" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="salesMeasurementShortNameInputField" class="col-sm-2 col-form-label">Singkatan</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="salesMeasurementShortNameInputField" name="salesMeasurementShortNameInputField" placeholder="Singkatan satuan" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="salesMeasurementDescriptionInputField" class="col-sm-2 col-form-label">Deskripsi</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="salesMeasurementDescriptionInputField" name="salesMeasurementDescriptionInputField"
                                                   placeholder="Deskripsi satuan">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-success" onclick="submitSalesMeasurementForm()">Simpan</button>
                            <button type="button" class="btn btn-warning" onclick="cancelSalesMeasurementOperation()">Batal</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>