<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Application User</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#" onclick="changeContent('home')">Home</a></li>
                    <li class="breadcrumb-item">Master</li>
                    <li class="breadcrumb-item active">User</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-outline card-info">
                    <div class="card-header">
                        <h3 class="card-title">Daftar pengguna aplikasi</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="column" style="width: 85%"></div>
                            <div class="column" style="width: 15%">
                                <button type="button" onclick="addUserInitiation()" class="btn btn-primary btn-block"
                                        style="float: right">
                                    <i class="fas fa-plus"></i> Tambah user
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="userList" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">Username</th>
                                <th class="text-center">ID pengguna</th>
                                <th class="text-center">Nama</th>
                                <th class="text-center">Role</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="userModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-lightblue">
                    <h4 class="modal-title" id="userModalTittle">Modal Title</h4>
                </div>
                <div class="modal-body bg-gradient-blue">
                    <form id="formUser">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="userUsername" class="col-sm-2 col-form-label">username</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="userUsername" name="userUsername"
                                                   placeholder="username" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="userPersonId" class="col-sm-2 col-form-label">ID pengguna</label>
                                        <div class="col-sm-10">
                                            <input type="text" minlength="15" maxlength="17" class="form-control" id="userPersonId"
                                                   name="userPersonId" placeholder="ID pengguna"
                                                   onkeypress="return onlyNumberKey(event)" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="userName" class="col-sm-2 col-form-label">Nama</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="userName" name="userName"
                                                   placeholder="Nama" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="userUserRole" class="col-sm-2 col-form-label">Role</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" style="width: 100%" name="userUserRole"
                                                    id="userUserRole" required>
                                                <option value="KASIR">KASIR</option>
                                                <option value="ADMIN">ADMIN</option>
                                                <option value="KEPALA_TOKO">KEPALA_TOKO</option>
                                                <option value="MANAGEMENT">MANAGEMENT</option>
                                                <option value="OWNER">OWNER</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-success" onclick="submitUserForm()">Simpan</button>
                            <button type="button" class="btn btn-warning" onclick="cancelUserOperation()">Batal</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>